* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

body {
  background-color: #f7f7f7;
}

.layout {
  display: flex;
  gap: 2rem;
  max-width: 1280px;
  margin: 0 auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}

.sideBarMainRoot {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 40%;
}

.userInfoRoot {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.roundedPic {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.userInfoDescription {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.userInfoLinksRoot {
  display: flex;
  flex-direction: column;
}

.userInfoLinksRoot div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem;
}

.userInfoLinksRoot div:hover {
  background-color: #3c6321;
  color: white;
}

.userInfoLinksRoot div svg {
  font-size: 1rem;
}

.userInfoLinksRoot a {
  text-decoration: none;
  color: black;
}

.ProfileInfoPageRoot {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.editProfileInfoRoot {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input[type="radio"] {
  width: 1.15em;
  height: 1.15em;
}

.radioButtonsGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.radioButtonsGroup div {
  display: flex;
  gap: 0.5rem;
}

input[type="text"] {
  padding: 0.5rem;
  border: 3px solid #ccc;
  transition: 0.5s;
  outline: none;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

.autoComplete {
  position: relative;
}

.autoCompleteData {
  flex-direction: column;
  gap: 1rem;
  z-index: 2;
  padding: 0.8rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  list-style-type: none;
}

ul li {
  word-wrap: break-word;
}

.editProfileInfoRoot button {
  background-color: #3c6321;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
